<li class="fbFeedbackPost fbFirstPartyPost fbTopLevelComment" id="fbc_820162664721659_820178938053365_820178938053365">
  <div class="clearfix">
    <a class="postActor _29h _3eb" href="#" target="_blank" tabindex="-1" aria-hidden="true" role="button">
      <img class="img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p50x50/10303804_829608037066781_1977585049221583708_n.jpg?oh=6bc4e54c6b268dd72754f3e187b8a457&amp;oe=55314AF5&amp;__gda__=1428737886_4ec13c81cbc53914c0604b223648f52f" alt="" height="50px" width="50px">
    </a>
    <div class="_29k">
      <div class="postContainer fsl fwb fcb">
        <a data-hover="tooltip" aria-label="Mark as Spam" data-tooltip-position="left" class="closeButton hidden_elem uiCloseButton" href="#" role="button" rel="async-post" ajaxify="/ajax/connect/vote.php?url=http%3A%2F%2Fwww.buzzfeed.com%2Fjaviermoreno%2Fwhats-your-actual-personality-type&amp;id=fbc_820162664721659_820178938053365_820178938053365&amp;show_all_replies=0&amp;owns_pages=0&amp;in_moderation_queue=0&amp;view_as_moderator=0&amp;controller_id=feedback_1DKzqcdAC4auNIXBo&amp;locale=en_US&amp;in_contextual_dialog=0&amp;in_aggregated_view=0&amp;vote=spam" target="_blank">
        </a>
        <form class="closeButtonAfterLogin" method="post" action="#" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)" id="u_0_20">
          <input name="lsd" value="AVrlbeJv" autocomplete="off" type="hidden">
          <label class="uiCloseButton" for="u_0_8">
            <input aria-label="Report" title="Report" onclick="MultiLoginPopup.setProvider('facebook');" id="u_0_8" type="submit">
          </label>
        </form>
        <a class="profileName" target="_blank" href="#" role="button">Jessi Fiermen
        </a>
        <span class="fsm fwn fcg"> ·
          <i class="star img sp_comments sx_comments_star">
          </i> Top Commenter ·
          <a class="uiLinkSubtle" href="https://www.facebook.com/pages/VCU/124256797617403" target="_blank">VCU
          </a>
        </span>
        <div class="postContent fsm fwn fcg">
          <div class="postText">You got: Introvert
            <br> You’re a deep thinker and highly intelligent. You find satisfaction in spending time alone or only with a handful of people. You’ve always drawn your motivation from and find nothing more fulfilling than a deep, intellectual conversation.
            <br>
            <br> BUZZFEED, YOU GUESSED IT! WOO! YOU IS RIGHT! lol
          </div>
          <div class="stat_elem">
            <div class="action_links fsm fwn fcg">
              <a href="#" id="u_0_7" target="_blank" role="button">Reply
              </a> ·
              <a class="fbUpDownVoteOption hidden_elem" rel="async-post" ajaxify="/ajax/connect/vote.php?show_all_replies=0&amp;url=http%3A%2F%2Fwww.buzzfeed.com%2Fjaviermoreno%2Fwhats-your-actual-personality-type&amp;id=fbc_820162664721659_820178938053365_820178938053365&amp;in_moderation_queue=0&amp;view_as_moderator=0&amp;in_aggregated_view=0&amp;in_contextual_dialog=0&amp;controller_id=feedback_1DKzqcdAC4auNIXBo&amp;owns_pages=0&amp;colorscheme=light&amp;locale=en_US&amp;vote=up" href="#" target="_blank" role="button">Like
              </a>
              <form class="fbUpDownVoteAfterLogin" method="post" action="#" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)" id="u_0_21">
                <input name="lsd" value="AVrlbeJv" autocomplete="off" type="hidden">
                <label class="uiLinkButton fbUpDownVoteAfterLoginOption">
                  <input class="uiLinkButtonInput" value="Like" onclick="MultiLoginPopup.setProvider('facebook');" type="submit">
                </label>
              </form> ·
              <a class="uiBlingBox postBlingBox" href="#" data-ft="{&quot;tn&quot;:&quot;O&quot;}" target="_blank" role="button">
                <i class="img sp_comments sx_comments_like">
                </i>
                <span class="text">33
                </span>
              </a> ·
              <a class="uiLinkSubtle" href="http://l.facebook.com/l.php?u=http%3A%2F%2Fwww.buzzfeed.com%2Fjaviermoreno%2Fwhats-your-actual-personality-type%3Ffb_comment_id%3Dfbc_820162664721659_820178938053365_820178938053365&amp;h=MAQGnrgKb&amp;s=1" target="_blank" rel="nofollow" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/www.buzzfeed.com\/javiermoreno\/whats-your-actual-personality-type?fb_comment_id=fbc_820162664721659_820178938053365_820178938053365&quot;);" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fwww.buzzfeed.com\u00252Fjaviermoreno\u00252Fwhats-your-actual-personality-type\u00253Ffb_comment_id\u00253Dfbc_820162664721659_820178938053365_820178938053365&amp;h=MAQGnrgKb&amp;s=1&quot;);">
                <abbr title="Friday, January 16, 2015 at 4:28pm" data-utime="1421454515" class="timestamp">3 hours ago
                </abbr>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="postReplies fsm fwn fcg">
        <div id="u_0_6">
          <ul class="uiList fbFeedbackReplies _4kg">
          </ul>
          <form rel="async" class="composer clearfix composerReply hidden_elem" method="post" action="/ajax/connect/feedback.php" id="u_0_9" onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)">
            <input name="lsd" value="AVrlbeJv" autocomplete="off" type="hidden">
            <input autocomplete="off" name="url" value="http://www.buzzfeed.com/javiermoreno/whats-your-actual-personality-type" type="hidden">
            <input autocomplete="off" name="uniqid" value="u_0_6" type="hidden">
            <input autocomplete="off" name="target" value="http://www.buzzfeed.com/javiermoreno/whats-your-actual-personality-type" type="hidden">
            <input autocomplete="off" name="colorscheme" value="light" type="hidden">
            <input autocomplete="off" name="controller_id" value="feedback_1DKzqcdAC4auNIXBo" type="hidden">
            <input autocomplete="off" name="locale" value="en_US" type="hidden">
            <input autocomplete="off" name="command" value="reply" type="hidden">
            <input autocomplete="off" name="normalize_grammar" value="0" type="hidden">
            <input autocomplete="off" name="iframe_referer" value="http://www.buzzfeed.com/javiermoreno/whats-your-actual-personality-type" type="hidden">
            <img class="_s0 viewerProfilePic _rw img" src="https://fbstatic-a.akamaihd.net/rsrc.php/v1/yi/r/odA9sNLrE86.jpg" alt="">
            <div class="replywrapper">
              <textarea class="DOMControl_placeholder uiTextareaNoResize uiTextareaAutogrow input" title="Add a Reply..." required="1" placeholder="Add a Reply..." name="text" aria-required="true" onkeydown="run_with(this, [&quot;legacy:control-textarea&quot;], function() {TextAreaControl.getInstance(this)});">Add a Reply...
              </textarea>
            </div>
            <input autocomplete="off" name="comment_id" value="fbc_820162664721659_820178938053365_820178938053365" type="hidden">
            <div class="post">
              <div class="clearfix">
                <span class="indicator lfloat _ohe">&nbsp;
                </span>
                <div class="clearfix rfloat _ohf">
                  <div class="_4bl7 prs">
                    <div class="commentas" id="id_54b9df8fb65276926289680">
                      <a href="#">
                      </a>
                    </div>
                  </div>
                  <div class="_4bl7">
                    <label class="fbReplyButton uiButton uiButtonConfirm hidden_elem" for="u_0_a">
                      <input value="Reply" id="u_0_a" type="submit">
                    </label>
                    <label class="fbReplyAfterLoginButton uiButton uiButtonConfirm" for="u_0_b">
                      <input value="Reply" id="u_0_b" type="submit">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="fsm fwn fcg">
      </div>
    </div>
  </div>
</li>