<li class="posts-list__item">
  <div class="lede ">
    <a class="lede__link" href="http://www.buzzfeed.com/alexalvarez/quietly-judging-all-of-you" rel:gt_act="post/thumb">
      <div class="lede__media">
        <img src="BuzzFeed%20Buzz_files/22-confessions-shy-people-will-never-tell-you-2-11223-142146.jpg">
      </div>
    </a>
    <div class="lede__body">
      <h2 class="lede__title lede__title--medium">
        <a class="lede__link" href="http://www.buzzfeed.com/alexalvarez/quietly-judging-all-of-you" rel:gt_act="post/title">
          {{title}}
        </a>
      </h2>
      <p class="lede__kicker"><b>{{weird}}</b></p>
      <div class="lede__meta">
        <div class="lede__meta__item">
          <span class="fa fa-user"></span>
          <a href="http://www.buzzfeed.com/alexalvarez" rel:gt_act="username">{{authorName}}</a>
        </div>
        <div class="lede__meta__item lede__timestamp">
          <span class="fa fa-clock-o"></span>
          <time class="lede__meta__item">
            {{timestamp}}
          </time>
        </div>
        <div class="lede__meta__item">
          <span class="fa fa-comment"></span>
          <a href="http://www.buzzfeed.com/alexalvarez/quietly-judging-all-of-you#responses" rel:gt_act="responses">{{responses}}</a>
        </div>
      </div>
    </div>
  </div>
</li>