/* Partner Blogroll */
ul.blogroll{float:left;width:100%;margin: 0 0 10px;}
ul.blogroll li{float:left;width:170px;margin-bottom:4px;font:12px "Lucida Grande",tahoma,arial,sans-serif;}
ul.blogroll li a{float:left;padding:2px 0;}

/* Homepage Share Btns */
ul.follow {margin-top: 10px; display: inline; float: right;}
ul.follow li { font:11px "Arial",verdana,sans-seriff; margin:0; padding:3px 10px; float: left;}
ul.follow li:first-child {padding-left: 0px;margin-top: 4px;color: #999;}
ul.follow li.header-fb {width: 90px;}
ul.follow li:last-child {padding-right:0px;}

.Column2 .small-meta .time-image, .Column2 .small-meta .time-ago {
display: none;
}
