@charset "UTF-8";


/* Helpers */
.viral-badge{display:inline;/*padding:0 6px 1px 20px;*/background:#e32 url(../images/global/viral-arrow.png?v=201501161526) 2px 2px no-repeat;color:#fff;font:bold 15px arial,sans-serif;}

.highlight { background:#FFF4BC; }


/**/
.buzzedfeed { position:absolute; width:300px; height:65px; left:0; top:75px; background:url(../images/global/buzzedfeed.png?v=201501161526) 0 -7px; z-index:99;}
.buzzed12 { background-position:0 -91px; }
.buzzed14 { background-position:0 -176px; }
.buzzed16 { background-position:0 -260px; }


/* Posts Formats */
.post{position:relative;float:left;xxxbackground:url(../images/global/lines/ccc.png?v=201501161526) top left repeat-x;/*ie6:*/display:inline;}
.post .thumb-unit, .post .thumb{position:relative;float:left;}
.post .thumb-unit:hover { opacity: 0.95; -moz-opacity: 0.95; filter:alpha(opacity=95);}
.post.sidebar-post .bf-item .thumb-unit { margin-right: 10px; }
.post .description{xfont-size:12px;margin-bottom:6px;}
.post .mo { padding:0 2px; background:#D6ECFA; font-weight:bold; font-size:9px; text-transform:uppercase;}
.post .username{display:block;max-width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.post .ago{font-weight:normal;color:#aaa;text-transform:lowercase;}
.post .awards{margin-top:3px;}
.post .link{display:block;width:90%;padding-bottom:6px;font-size:12px;overflow:hidden;white-space:nowrap;}



/* standard posts  --- in flux */
.std-posts .post{width:485px;margin:0;border-bottom:1px solid #eee;padding:20px 0 17px 140px; }
.std-posts .post.no-padding{padding-left:0;width:625px;}
.std-posts .post.first{background:0;padding-top:0;}

.std-posts .thumb-unit{float:left;width:125px;margin-left:-140px;margin-top:3px;display:inline;/*ie6*/}
.std-posts .video-unit{float:left;width:340px;margin-left:-140px;margin-top:3px;display:inline;padding-left:10px;}
.std-posts .video-unit .video-preview{cursor: pointer;}

.std-posts .ad-template-story .video-unit{margin-right: 15px; padding-left: 0px;}
.std-posts .partner-area {padding-bottom: 10px;}
.std-posts .partner-area .partner-area-label{bottom: 17px;}

/* removed since no longer used
.std-posts .thumb-label{float:left;display:block;width:125px; height:20px;background-position:-250px -240px;text-indent:-9999px;overflow:hidden;}
.std-posts .viral-post .thumb-label{background-position:-250px -270px;height:25px;}
*/

.std-posts h2 span { display:block; margin-top:3px; font:normal 12px "lucida grande",verdana,sans-serif !important;color:#5D97E8; }
.std-posts h2 a:hover span { color:#e32; }

.std-posts h2 span.more-link { color: #AAA;}
.std-posts h2 a:hover span.more-link { color: #AAA;}

.post .small-label { margin-bottom:7px; font-size:11px; font-weight:bold; color:#e32; }
.post .small-label.topic {text-indent: -9999px; margin-top: 2px; margin-bottom: 10px; width: 120px; height: 11px; background: url(../images/public/topics/topic_feed_label.png?v=201501161526) 0 0 no-repeat;}
.post.ab_test .small-label.topic {visibility: hidden;}
.post.ab_test.ab_test1 .small-label.topic {visibility: visible; background-position: 0 0;} /* viral topic */
.post.ab_test.ab_test2 .small-label.topic {visibility: visible; background-position: 0 -20px;} /* hot */
.post.ab_test.ab_test3 .small-label.topic {visibility: visible; background-position: 0 -40px;} /* hot right now */

/* --------- LINK POST TRY 1 ------- 
.std-posts .post { border-bottom:1px solid #eee; padding:20px 0 20px 140px; }
.link-post { padding:15px 0 13px 140px!important; }
.link-post h3 { font:normal 15px/1.2em "Lucida Grande",sans-serif; padding-top:3px; }
.link-post .username { display:inline; font-size:10px; font-weight:bold; color:#999; }
.link-post .responses { display:inline; font-size:10px; font-weight:normal; color:#aaa; }
.link-post .responses img { margin-bottom:-2px; }
/* -------------------------------- */

.std-posts .link-post { padding:17px 0 13px 140px; }
.link-post .thumb-unit .thumb { padding-left:50px; }
.viral-link-post .thumb-unit { background:url(../images/global/viral-link-post.png?v=201501161526) 10px 10px no-repeat; }
.link-post h3 { font:bold 16px/1.2em "Lucida Grande",verdana,tahama,sans-serif; margin-bottom:5px; }
.link-post .responses { display:inline; font-size:10px; font-weight:normal; color:#aaa; }
.link-post .responses img { margin-bottom:-2px; }
.link-post h3 .external-link { padding:0 6px; background:url(../images/public/icons/external-link2.png?v=201501161526) 5px 5px no-repeat; }

.std-posts .big-meta { float:left; padding-top:3px; line-height:13px!important; }
.std-posts .big-meta .user-info{float:left;width:300px;padding-left:30px;}
.std-posts .no-user-image .user-info{padding-left:0px;}
.std-posts .big-meta .user-info img{float:left;margin:2px 5px 0 -30px;}
.std-posts .big-meta .viral-referers {float:left;width:100px;padding-right:30px; }
.std-posts .big-meta .label {display:block;margin:3px 0 3px 0;font:bold 10px/14px "Lucida Grande";text-transform:uppercase;color:#888;white-space: nowrap;}
.std-posts .big-meta .responses{float:left;width:100px;}
.std-posts .big-meta .responses .num{float:left;width:37px;padding-right:3px; font:bold 11px/15px arial,helvetica; font-weight:bold; text-align:right;}
.std-posts .big-meta .responses .label{float:left;width:55px;font:11px/14px tahoma,verdana,sans-serif;text-transform:none;}
.std-posts .big-meta .user-info .username { width: 337px; max-width: 337px; }

.std-posts .badges {position: absolute; top:10px; left:-10px; overflow:hidden;}
.std-posts .viral_icon {position: absolute; display: block; top: 28px; left: -10px; width: 25px !important; height: 23px !important; background: url(../images/public/topics/topic_feed_item.png?v=201501161526) 0 0 no-repeat; overflow: hidden;}
.std-posts .post.first .badges { top:-10px; }

.std-posts .partner-post{background-color:#FDF6E5; }
.std-posts .partner-post h2 { font-size:22px}

#post_list .big-meta .user-info { width: 350px; max-width: 350px; }
#post_list .big-meta .user-info .username { width: 337px; max-width: 337px; }

.partner-label { background:#e32; color:#fff; text-transform:uppercase; font:bold 9px/9px "Gills Sans",arial,sans-serif; padding:1px 3px 0; letter-spacing:1px; }

.source_via_info { float:left; width:100%; margin:10px 0!important; font-size:14px; }
.source_via_info span { text-transform:uppercase; font-size:11px; font-weight:bold; padding-right:2px; }

/* DFP Iframes */
.BF_IFRAME {margin: 0px; padding: 0px; height: 0px; width: 625px;}
.ThreeColumns .BF_IFRAME {width: 470px; border-top: 1px solid #EEE; margin: 0 0 0 -5px; }
.ThreeColumns .BF_IFRAME .bf-item-title {font: normal 13px/17px "ProximaNova",Helvetica,Arial,sans-serif;}
@media all and (min-width:1125px) { /* RESPONSIVE */
.ThreeColumns .BF_IFRAME {width: 570px;}
}

/* predictions */
.std-posts .predict{position:relative;float:left;width:125px;height:22px;margin-top:4px;background-position:-450px -240px;}
.std-posts .predict .q{display:none;}
.std-posts .predict input{float:left;height:22px;border:0;font-size:0;line-height:0;text-indent:-9999px;overflow:hidden;cursor:pointer;}
.std-posts .predict input.will-go-viral{width:65px;margin-left:60px;background-position:-510px -240px;}
.std-posts .predict input.wont-go-viral{display:none;width:29px;margin-left:1px;background-position:-546px -240px;}
.std-posts .post:hover .predict { background-position:-450px -270px; }
.std-posts .post:hover .predict input.will-go-viral{background-position:-510px -270px;}
.std-posts .post:hover .predict input.wont-go-viral{background-position:-546px -270px;}
.std-posts .post:hover .predict input.will-go-viral:hover{background-position:-510px -300px;}
.std-posts .post:hover .predict input.wont-go-viral:hover{background-position:-546px -300px;}
.predict-spinner { position:absolute; top:0px; height:22px; width:103px; padding-left:22px; line-height:1.6em; background:#fff url(../images/public/spinners/small_on_white.gif?v=201501161526) left center no-repeat; }
.predict-message { position:relative; width:480px; float:left; clear:both; margin:10px 0; font:14px arial,helvetica,sans-serif; }
.predict-message-inner { float:left; width:460px; padding:10px; background:#EDFBFF; border:2px solid #C4E7F5; }
.predict-message-error { width:460px; padding:7px 10px; background:#FFF4BC; border:2px solid #F3E5B0; }
.predict-message h3 { margin-bottom:10px; font:bold 28px arial,helvetica,sans-serif;}
.predict-message h3 a { padding-left:5px; font-size:12px; font-weight:normal;}
.predict-message h5 { float:left; width:80px; margin-right:20px; font-weight:bold; font-size:12px;}
.predict-message p span { margin-bottom:12px;padding:2px 4px;font-style:italic;background:#ff7;}
.predict-message .psst { float:left; width:100%; margin:10px 0 0; font-size:13px; line-height:1.3em;}
.predict-message .close { position:absolute; right:5px; top:5px; font-size:16px;}
.predict-you-voted { position:absolute; left:0; top:100px; width:125px; }
#notice-predictions { float:left;width:625px;height:66px;margin:-5px 0 10px;background:url(../images/public/promos/note.png?v=201501161526) 49px 0 no-repeat; }
#notice-predictions div { display: inline;float:left;width:460px;margin:18px 0 0 152px;font:14px arial,helvetica,sans-serif;line-height:19px; }


/* sign in */

.signin-or-signup form div.half input.text, .signin-or-signup form div.half textarea { width:150px; }
.signin-or-signup h5 { margin-bottom:8px; padding-bottom:5px; font:bold 24px arial,helvetica,sans-serif; }
.signin-or-signup h5 a { font-weight:bold; }
.signin-or-signup .alias-field {color:#666666;font-size:8pt;}
.signin-or-signup {float:left; padding:12px; background:#e6e6e6; /*-webkit-box-shadow:1px 1px 2px #aaa; -moz-box-shadow:1px 1px 2px #aaa; */}
.signin-form { width:415px; }
.signin-form .or-register {font-weight: normal; font-size: 14px; margin-left: 6px;}
.signin-buzzfeed { float:left; width:100%; }
.signin-buzzfeed-title { margin-bottom:7px; font-weight:bold; float:left; }

form.facebook-enabled fieldset.signin-buzzfeed { float:left; clear:none; width:200px; border-right:1px solid #bbb; margin-right:12px; }
form.facebook-enabled fieldset.signin-facebook { float:left; clear:none; width:200px; }
form.facebook-enabled fieldset div { width:200px; }
form.v .message { padding:2px 5px; }
form.v .error { background:#e32; color:#fff; }
form.v .success { background:#17AF2E!important; color:#fff!important; }
form.v .failure a, .error a, .success a { color:#fff; text-decoration:underline; }
form.v input.submit { font-size:14px; }

.facebook-like-login-pane { background:#eee; width:450px; padding:15px; margin: 15px 0 0 0; overflow:auto; position:relative;  -webkit-box-shadow:1px 1px 2px #aaa; -moz-box-shadow:1px 1px 2px #aaa; }
.facebook-like-login-pane h3 { font:bold 16px arial,helvetica,sans-serif; margin-bottom:7px; }
.facebook-like-login-pane a.no-thanks { position:absolute; top:18px; right:15px; }
.facebook-like-login-pane a.have-account { position:absolute; top:42px; right:15px; }

#registration-success { background:#FFF22C; color:#000; padding:15px; }
#registration-success h3 { font:bold 24px arial,helvetica,sans-serif; margin-bottom:7px; }
#registration-success p { margin:0;}
#registration-success a { color:#000; font-style:underline; }

/* badges */
.badge{background-position: 1000px 1000px;}
.badge_lol              {background-position: -000px -350px; }
.badge_omg              {background-position: -050px -350px; }
.badge_wtf              {background-position: -100px -350px; }
.badge_cute             {background-position: -150px -350px; }
.badge_trashy           {background-position: -200px -350px; }
.badge_geek             {background-position: -250px -350px; }
.badge_ew               {background-position: -300px -350px; }
.badge_classic          {background-position: -350px -350px; }
.badge_should-be-viral  {background-position: -400px -350px; }
.badge_time-waster      {background-position: -450px -350px; }
.badge_most-shared      {background-position: -500px -350px; }
.badge_most-linked      {background-position: -550px -350px; }
.badge_winner      	    {background-position: -600px -350px; }
.badge_gold-star        {background-position: -650px -350px; }
.badge_infectious       {background-position: -700px -350px; }
.badge_tosh             {background-position: -750px -350px; }
.badge_first            {background-position: -800px -350px; }
.badge_facebook         {background-position: -850px -350px; }
.badge_big-on-twitter   {background-position: -900px -350px; }
.badge_no1-digg         {background-position: -950px -350px; }
.badge_no1-reddit       {background-position:-1000px -350px; }
.badge_collection       {background-position:-1050px -350px; }
.badge_labs             {background-position:-1100px -350px; }
.badge_sweet            {background-position:-1150px -350px; }
.badge_sour             {background-position:-1200px -350px; }
.badge_poor-decision    {background-position:-1250px -350px; }
.badge_mega-list    	{background-position:-1300px -350px; }

.badge_lol_small       		  {background-position: -000px -410px; }
.badge_omg_small              {background-position: -050px -410px; }
.badge_wtf_small              {background-position: -100px -410px; }
.badge_cute_small             {background-position: -150px -410px; }
.badge_trashy_small           {background-position: -200px -410px; }
.badge_geek_small             {background-position: -250px -410px; }
.badge_ew_small               {background-position: -300px -410px; }
.badge_classic_small          {background-position: -350px -410px; }
.badge_should-be-viral_small  {background-position: -400px -410px; }
.badge_time-waster_small      {background-position: -450px -410px; }
.badge_most-shared_small      {background-position: -500px -410px; }
.badge_most-linked_small      {background-position: -550px -410px; }
.badge_winner_small      	  {background-position: -600px -410px; }
.badge_gold-star_small        {background-position: -650px -410px; }
.badge_infectious_small       {background-position: -700px -410px; }
.badge_tosh_small             {background-position: -750px -410px; }
.badge_first_small            {background-position: -800px -410px; }
.badge_facebook_small         {background-position: -850px -410px; }
.badge_big-on-twitter_small   {background-position: -900px -410px; }
.badge_no1-digg_small         {background-position: -950px -410px; }
.badge_no1-reddit_small       {background-position:-1000px -410px; }
.badge_collection_small       {background-position:-1050px -410px; }
.badge_labs_small             {background-position:-1100px -410px; }
.badge_sweet_small            {background-position:-1150px -410px; }
.badge_sour_small             {background-position:-1200px -410px; }
.badge_poor-decision_small    {background-position:-1250px -410px; }
.badge_mega-list_small        {background-position:-1300px -410px; }


/* Post Form Badge Selector */
.post-badge-select {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	margin-bottom: 10px;
	padding-top: 10px;
}
.post-badge-module {
	width: 335px;
	background: #FFF;
	border: solid 1px #ccc;
	margin-bottom: 10px;
}
.post-badge-module .badge-group-header {
	padding-top: 3px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 13px;
	color: #323232;
}
.post-badge-module--search-box {
	background: #ddd;
	padding: 10px;
}
.post-badge-module--list {
	height:400px;
	overflow:scroll;
	padding: 10px;
}
.post-badge-module--list ul {
	border-bottom: dotted 1px #ccc;
	margin-bottom: 10px;
}
.post-badge-module--list ul:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}
.post-badge-module--list.searching ul {
	border-bottom: 0; /*hide dividing borders during search*/
}
.post-badge-module--badge, .post-badge-module--recent a {
	display: inline-block;
	vertical-align: top;
	width: 57px;
	height: 57px;
	text-align: center;
}
.post-badge-module--badge img, .selected-badges a img, .post-badge-module--recent img {
	max-width: 50px;
}
.assign_badge.in_use {
	opacity:.2
}
.selected-badges {
	margin: 10px 0;
}
.selected-badges a {
	display: inline-block;
	vertical-align: top;
	width: 53px;
	position:relative;
}
.selected-badges a .remove-badge {
	display:none;
}
.selected-badges a:hover .remove-badge {
	display: inline;
	position: absolute;
	left: 14px;
	font-size: 36px;
	color: #333;
	top: 6px;
}
.selected-badges a:hover img{
	opacity: .3;
}
.badge_module label {
	padding-top: 3px;
	padding-bottom: 10px;
	width: 100%;
	font-weight: bold;
	font-size: 13px!important;
	color: #323232!important;
}

.x-close {
	float:right;
	font-size: 18px;
	line-height: 26px;
	color: #999;
}
.x-close:hover {
	color: #333;
}

/* Other Post Formats */
.multipost{float:left;width:100%;margin:0;}
.multipost-header{float:left;width:100%;margin-bottom:12px;font-size:16px;font-weight:bold;color:#e32;}
.multipost-label{float:left;display:inline-block;margin:0 10px 0 -45px;padding:3px 6px;background:#FFEA00;color:#111;font:bold 12px "gill sans","arial black",arial,helvetica;text-transform:uppercase;-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);transform:rotate(-15deg);-moz-box-shadow:1px 1px 1px #aaa;-webkit-box-shadow:1px 1px 1px #aaa;box-shadow:1px 1px 1px #aaa;}
.multipost-footer{float:left;width:100%;margin:0 0 10px;font-weight:bold;font-size:11px;}
.mpost{float:left;width:235px;height:60px;margin:0 0 15px 15px;}
.no-padding .mpost {width: 295px;}
.multipost .first{margin:0;padding:0;}
.mpost .thumb{margin-right:7px;}
.mpost h3{font-weight:bold;font-size:11px;margin-bottom:2px;}
.mpost .username{font-size:10px;font-weight:normal;color:#e32;}
.mpost .num {padding-top:2px;font:bold 12px arial,helvetica,sans-serif; }
.mpost .num span {font-weight:normal;}


/* vertical posts */
.vert-posts{float:left;width:100%;padding-top:10px;}
.vert-posts .post{width:125px;margin:0 0 10px 46px;line-height:1.2em;background:0;}
.vert-posts .first{margin-left:0;}
.vert-posts .thumb{width:125px;height:83px;margin:5px 0;}
.vert-posts h2{font-size:12px;line-height:1.2em;}
.vert-posts p.desc{color:#888;font-weight:bold; font-size:9px;line-height:1.2em;margin:2px 0 5px;}
.vert-posts .launched{display:block;font-weight:bold;font-size:9px;line-height:1.3em;text-transform:uppercase;color:#aaa;}
.vert-posts .username{display:block;width:110px;font-weight:bold;font-size:11px;line-height:1.3em;text-transform:none;}


/* top users list */
.top-users li{position:relative;margin:0;padding:10px 0 10px 0px;}
.top-users li:first-child{background-image:none;}
.top-users .num{float:left;margin-left:-110px;font:bold 14px arial,helvetica;color:#e32;}
.top-users .rank { position:absolute; left:0px; top:20px; width:67px; font:bold 48px Helvetica,arial,sans-serif; letter-spacing:-5px; text-align:center; color:#fff; text-shadow:0px 2px 8px rgba(0,0,0,0.8); -moz-text-shadow:1px 1px 8px rgba(0,0,0,0.8); }
.top-users .thumb{float:left;height:70px;width:70px; margin-right:10px}
.top-users h2{font:24px georgia,serif;margin-bottom:5px;}
.top-users .views{font:bold 28px helvetica,arial,sans-serif;color:#222;letter-spacing:-1px;}
.top-users .views small { font-size:13px; font-weight:normal; letter-spacing:0;}

/*.launch-yours-promo { float:left; width:336px; height:220px; background:url(../images/public/promos/promos-viralhit.png?v=201501161526) 336px 0 no-repeat; overflow:hidden; text-indent:-9999px; }
.launch-yours1 .launch-yours-promo { background-position:0 0; }
.launch-yours2 .launch-yours-promo { background-position:0 -218px; }
.launch-yours3 .launch-yours-promo { background-position:0 -439px; height:230px;}
.launch-yours-promo:hover { opacity: 0.9; -moz-opacity: 0.9; filter:alpha(opacity=90);}
*/

/* top sites list */
.top-sites{}
.top-sites .row{float:left;width:100%;margin:5px 0 10px 0;}
.top-sites .site{float:left;width:300px;padding:0;margin-left:24px;border-top:2px solid #e32; overflow: hidden;}
.top-sites .first{margin-left:0;}
.top-sites h2{margin:5px 0 8px;line-height:1em;}
.top-sites h2 a{font:bold 16px arial,helvetica;color:#e32;}
.top-sites .thumb{float:left;margin-right:10px;}
.top-sites h3{float:left;width:165px;margin-bottom:5px;font:17px/1.2 Georgia,serif;}
.top-sites h3 div{margin-top:5px;}
.top-sites .ago { margin:2px 0 10px; font:11px "Lucida Grande",tahoma,verdana,san-serif; color:#666; }
.top-sites .more-posts{float:left;width:100%;margin-top:5px;line-height:1.2em;}
.top-sites p{margin:2px 0 4px;font-size:10px;color:#777;} 
.top-sites ul{list-style: none;padding: 0 0 0 1.2em; text-indent: -1.2em; }
.top-sites li{margin-bottom:7px;}
.top-sites li:before {content: "\00B7 \0020";color:#07e;padding:0.3em;} 
.top-sites .more{padding-top:5px;font-size:10px;font-weight:bold;}


/* New Viral Page */
.ViralPage .trend_num {
  clear: none;
  float: left;
  margin: 4px 15px 0 0;
  padding: 8px 0;
  width: 70px;
  color: #FFF;
  background-color: #E32;
  font: bold 36px/1.0em Arial,Helvetica,Verdana,sans-serif;
  letter-spacing: -.05em;
  text-align: center;
  overflow: hidden;
}
.viral_details {margin-left: 85px;}
.viral_details h2 {position: relative; padding-left: 20px; font-family: arial, helvetica, sans-serif; font-weight: bold;}
.viral_details h2 .ptnr-icon {position: absolute;top: 5px;left: 0;}
.viral_details h2 a {color: #E32;}
.viral_details .viral_count {
  position: absolute;
  padding-left: 18px;
  top: 0;
  right: 0;
  color: #111;
  background: url("../images/global/viral-arrow-red.png?v=201501161526") left no-repeat;
  font: bold 16px arial, helvetica, sans-serif;
}
.viral_details .thumb {float: left;}
.viral_details .info {margin: 15px 0 0 105px;}
.viral_details .info h3 {padding-right: 90px;font: 17px Georgia,serif;}
.viral_details .info p.description {margin: 10px 0;}
.viral_details .info .small-meta {margin-bottom: 0;}


/* alerts items */
.list-alerts{padding-top:5px;margin:0 0 10px;height:250px;overflow:hidden;}
.list-alerts li{width:336px;float:left;padding:7px 0;font-size:12px;line-height:1.4em;background:url(../images/global/lines/ddd.png?v=201501161526) top left repeat-x;}
.list-alerts li:first-child{background:0;}
.list-alerts img{float:left;margin-right:5px;}
.list-alerts a{font-weight:normal;}
.list-alerts .ago{padding-left:4px;font-size:9px;color:#aaa;}
.list-alerts .icon{float:left;display:inline-block;width:16px;height:16px;margin:-1px 5px 0 0;background:url(../images/global/favicons.png?v=201501161526) -16px 0 no-repeat;}
.list-alerts .icon-viral{background-position:-16px -16px;}
.list-alerts .icon-badge{background-position:-16px -32px;}
.list-alerts .icon-rebuzz{background-position:-16px -48px;}
.list-alerts .icon-gold-star{background-position:-16px -64px;}
.list-alerts .icon-home{background-position:-16px -80px;}             
.list-alerts .icon-response{background-position:-16px -96px;}             
.list-alerts .icon-love{background-position:-16px -112px;height:12px;float:none;margin:0 1px;}
.list-alerts .icon-hate{background-position:-16px -128px;height:12px;float:none;margin:0 1px;}
.list-alerts .icon-facebook{background-position:-32px 0;}
.list-alerts .icon-twitter{background-position:-32px -16px;}
.list-alerts .icon-stumbleupon{background-position:-32px -32px;}
.list-alerts .icon-digg{background-position:-32px -48px;}


/* paging */

.paging{padding:10px 0 10px 140px; float: left}
.es .paging{padding:10px 0 10px 120px;}
.paging li{float:left;font-size:13px; font:20px/1.0em arial,helvetica;}
.paging a, .paging span{float:left;margin-right:15px;padding:10px 40px;background:#07e;color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; font: 20px/1.0em arial,helvetica;}
.paging a{background:-webkit-gradient(linear,left top,left bottom,from(#2299ff),to(#0055cc));background-image:-moz-linear-gradient(top, #2299ff, #0055cc);background-color:#07e;color:#fff;border-color:#07e;font-weight:bold;text-shadow:1px 1px 1px rgba(0,0,0,0.2);-moz-text-shadow:1px 1px 1px rgba(0,0,0,0.2);}
.paging span{background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#d6d6d6));background-image:-moz-linear-gradient(top, #fff, #d6d6d6);background-color:#eee;color:#999;border:1px solid #c6c6c6; padding: 9px 40px;}
.paging a:hover{opacity: 0.85; -moz-opacity: 0.85; filter:alpha(opacity=85);}
.paging-numbered{padding:10px 0;}
.paging-numbered li{float:left;color:#999;text-align:center;font-size:13px;margin:0 5px 5px 0;}
.paging-numbered span{width:20px;display:block;padding:3px 2px;background:#e6e6e6;color:#aaa;border:1px solid #ccc;}
.paging-numbered a{width:20px;display:block;padding:3px 2px;text-align:center;border:1px solid #07e;color:#06d;}
.paging-numbered a:hover,
.paging-numbered .current a{background:#07e;color:#fff;}
.paging-numbered .arrow a, .paging-numbered .arrow span{width:auto;padding:3px 5px;}

.buzzfeed-everywhere a { display:block; float:left; width:51px; height:50px; margin-left:20px; overflow:hidden; text-indent:-9999px;}
.buzzfeed-everywhere a#bfe-iphone {background-position: -13px -248px; }
.buzzfeed-everywhere a#bfe-facebook {background-position: -64px -248px; }
.buzzfeed-everywhere a#bfe-twitter {background-position: -115px -248px; }
.buzzfeed-everywhere a#bfe-tumblr {background-position: -166px -248px; }
.buzzfeed-everywhere a#bfe-rss {background-position: -216px -248px; }
.buzzfeed-everywhere a:first-child { margin-left:0; }


/* Partner Icons */
.ptnr-icon{float:left;width:16px;height:16px;margin-right:5px;background-image:url(../images/global/favicons.png?v=201501161526); background-repeat: no-repeat;}
.ptnr-icon:hover{opacity:0.8;-moz-opacity:0.8;filter:alpha(opacity=80);}


/* secret notes */
#secret-notes-header .button { float:left; margin-top:10px; }
.raw-post{position:relative;float:left;width:100%;margin:10px 0 0;padding:10px 0 0;background:url(../images/global/lines/ccc.png?v=201501161526) top left repeat-x;} /* diff btwn this and bf.css */
.raw-post:first-child{background:0;margin:0;}
.Column2 .raw-post {margin-bottom: 5px;background-image: none !important;}
.secret-note { float:left; width:276px; margin:5px 0; padding:8px 50px 8px 10px; font-size:11px; background:url(../images/public/secret-note-bkgd.png?v=201501161526) top right no-repeat; }

/*Boosted Promo */
.BoostedPromo { background:#ffeae6 url(../images/public/promos/rocket-yeah.png) 245px 30px no-repeat; width:311px; margin:5px 0 20px; padding:15px 10px 15px 15px; border-top:1px solid #e32; }
.BoostedPromo h2 { font:bold 24px helvetica,arial,sans-serif; margin-bottom:7px;}
.BoostedPromo h2 a { color:#d21; }
.BoostedPromo p { float:left; width:220px; font:15px helvetica,arial,sans-serif; line-height:1.3em; margin:0 0 15px; }
.BoostedPromo div { float:left; width:100%;}
.BoostPreview .boosted-area { width:400px; padding:5px 5px 5px 15px; border-top:1px solid #fdd!important; }


/* admin */
.editor-admin, .edit-trending-topic { position:absolute; left:0px; top:15px; display:block; visibility:hidden; width:16px; height:16px; overflow:hidden; background:url(../images/public/icons/post-tools.png?v=201501161526) no-repeat 0px -600px; cursor:pointer; }
li:first-child .editor-admin { top:10px; }
li:hover .editor-admin, div.trend:hover .edit-trending-topic { visibility:visible; }
div.trend:hover .edit-trending-topic {top: 8px; left: -5px;}
div.trend:first-child .edit-trending-topic {top: -5px; left: -5px;}


/* new contest leaderboard */
ul.contest-leaderboard li { float:left; width:100%; margin-top:15px; padding-bottom:15px; position:relative; border-bottom:1px solid #eee; }
ul.contest-leaderboard li.first { margin-top:0; }
ul.contest-leaderboard .rank { position:absolute; left:-10px; top:10px; margin:0; padding:5px 5px; font:bold 18px/1 arial,helvetica,sans-serif; color:#fff; background:#e32; text-align:center; }
ul.contest-leaderboard .thumb { float:left; margin-right:15px; }
ul.contest-leaderboard h3 { margin-right:10px; font:24px/1.1 Georgia,serif; margin-bottom:6px; width:auto; }
ul.contest-leaderboard .info { float:left; width:340px; }
ul.contest-leaderboard .info p { font-size:10px; margin-bottom:2px; color:#888; }
ul.contest-leaderboard .score { display:block; margin:0; text-align:right; } 
ul.contest-leaderboard .score big { display:inline; font: bold 24px/1 arial,helvetica,sans-serif; padding:1px 5px 0 24px; color:#fff; background:#e32 url(../images/global/viral-arrow.png) 5px 7px no-repeat; }
ul.contest-leaderboard .score small { display:block; margin-top:5px; bottom:3px; font:12px arial,helvetica,sans-serif; color:#444; }
ul.contest-leaderboard .score div { margin-top:3px; }
.contest-rules h4 { margin:20px 0 5px; font:bold 15px arial,sans-serif; } 
.contest-rules p { line-height:1.4; } 
.contest-prizes h3 { margin:15px 0 2px; font: 32px arial,sans-serif; } 
.contest-prizes h3 span { color:#00A301; letter-spacing:-1px; font-weight:bold; font-size:36px;} 


/* leaderboard */
ul.leaderboard .rank {position:absolute;left:-8px;top:20px;margin-top:4px;text-align:center;color:#FFF;padding:4px 10px;font:bold 20px/1.2 "Arial Black",arial,helvetica,sans-serif;background-color:#E32;letter-spacing:-1px;text-shadow:none;}

ul.leaderboard .lil-rank { font-size:32px; letter-spacing:-2px; top:32px;}
ul.leaderboard .highlighted { padding-right: 5px; background-color: #FFFCCC; }
ul.leaderboard .chart { float:left; width:100px;}
ul.leaderboard .thumb { float:left; margin-right:15px; }
ul.leaderboard .info { float:left; width:340px; }
ul.leaderboard .info p { font-size:10px; margin-bottom:2px; color:#888; }
ul.leaderboard h3 { margin-right:10px; font:24px/1.0em Georgia,serif; margin-bottom:6px; width:auto; }
ul.leaderboard .num { float:right; width:140px; font-size:11px; line-height:1.4em; text-align:right; color:#888;}
ul.leaderboard .score { display:block; margin-bottom:5px; font: bold 32px/26px Helvetica,arial,sans-serif; color:#000; } 
ul.leaderboard .score small { font-size:16px; }
ul.leaderboard .user-image { float:left; margin-right:5px; }
ul.leaderboard-mini { float:left; width:100%; margin-bottom:10px; }
ul.leaderboard-mini li { position:relative; float:left; width:100%; padding:5px 0; }
ul.leaderboard-mini li img { float:left; margin-right:7px; }
ul.leaderboard-mini h4 { float:left; width:220px; font:18px/1.4em Georgia,serif; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
ul.leaderboard-mini .score { float:right; margin-right:5px; width:60px; text-align:right; font:bold 14px/1.5em arial,helvetica,sans-serif;}

ul.leaderboard li.feedbattle-winner { background:#ffc; border-top:1px solid #aaa; }
ul.leaderboard li.feedbattle-winner h3 { font-size:48px; } 
ul.leaderboard li.feedbattle-winner .info { width:200px; }
ul.leaderboard li.feedbattle-winner .num { width:220px; padding:10px 10px 0 0; } 
ul.leaderboard li.feedbattle-winner .score { font-size:52px;}
ul.leaderboard li.feedbattle-winner .winner-label { font-weight:bold; font:bold 16px Helvetica,arial,sans-serif; color:#e32; text-transform:uppercase; }

ul.leaderboard-horz { float:left; width:100%; }
ul.leaderboard-horz li { position:relative; float:left; width:80px; padding:10px 0 5px; margin-left:5px; font:bold 12px/1.4em arial,helvetica,sans-serif; }
ul.leaderboard-horz li.first { margin-left:0; }
ul.leaderboard-horz li img { margin-right:7px; }
ul.leaderboard-horz li .rank { position:absolute; top:64px; left:0; width:16px; text-align:center; line-height:1.4em; color:#fff; background:#07e; }
ul.leaderboard-horz li .info { float:left; margin-top:3px; }
ul.leaderboard-horz h3 { float:left; width:75px; font-weight:bold; overflow:hidden; }
ul.leaderboard-horz .score { }
ul.leaderboard-horz .score small { font-size:11px; font-weight:normal;}

.coming-soon-box { width:620px;height:440px;margin:25px 0 0;background:#fff; border:7px dashed #ccc;}
.coming-soon-box h2 { padding:130px 0 30px; font:60px Helvetica,times,serif; letter-spacing:-1px; text-align:center; color:#bbb; }
.coming-soon-box p { padding:0 120px 5px; font-size:16px; line-height:1.5em; text-align:center; color:#999;  }


/* Signin/Signup Pages */
.SigninPage .signin-or-signup { padding:20px; background:#e6e6e6; }

.form2 .medium-fields input { padding:7px 5px 0px; font:16px Arial,Helvetica,sans-serif; }
.form2 fieldset.halfsies { float:left; width:250px; padding:20px 20px 5px; }
.form2 .half1 { background:url(../images/public/lines/or.png?v=201501161526) right center no-repeat; margin-right:20px;}
.form2 fieldset.half2 { padding-top:20px; } 

.big-url { width:500px; font:26px Arial,Helvetica,sans-serif; padding:8px 10px 6px; border:1px solid #d6d6d6; background:#fff; }
.big-url input { width:325px; padding:0; border:0; background:0; font:26px Arial,Helvetica,sans-serif; }
.initial-field-state{color:#aaa;}


/* FEEDBATTLE */
.FeedBattlePage .PageContent { background:url(../images/public/feedbattle/feedbattle-ipad2.png?v=201501161526) right 110px no-repeat; }
.FeedBattlePage .Column2 { margin-top:45px; }
.FeedBattleHeader { position:relative; padding-top:20px; }
.FeedBattleHeader div { width:620px; }
.FeedBattleText { font-size:14px; }
.FeedBattleText p.big { font-size:18px; line-height:1.35em; margin-bottom:15px; }
.FeedBattleText h3 { font-size:24px; font-weight:bold; line-height:1.4em; margin-bottom:15px; }
.FeedBattleText h4 { font-size:13px; font-weight:bold; text-transform:uppercase; margin-bottom:5px; }
.FeedBattleText h5 { font-size:16px; font-weight:bold; margin-bottom:5px; }
.FeedBattleText ol { list-style-type:decimal; margin:0 0 10px 20px; line-height:1em; }
.FeedBattleText ul { list-style-type:square; margin:0 0 10px 20px; line-height:1.3em; }
.FeedBattleText li { margin-bottom:10px; }
.FeedBattleText p { margin-bottom:15px; }
.FeedBattleHeader .callout { position:absolute; top:250px; right:50px; }
.FeedBattleHeader .callout:hover { top:251px; right:49px; }
.FeedBattlePage .leaderboard-head h5 { font-size:24px; }


/* Mobile App Promos */
.MobileAppPromo {background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#999), color-stop(0.9, #DDD)); width: 100%;}


/* Self Serve Tracking */
.SitesPage .PageContent { margin:25px 0; }
.SitesPage .PageContent h1, .SitesPage .PageContent h2, .SitesPage .PageContent h3, .SitesPage .PageContent h4 {font-family:Arial,Helvetica,sans-serif; font-weight:bold; color:#111;}
.SitesPage .PageContent h1 { font-size:52px; margin-bottom:20px;}
.SitesPage .PageContent h2 { font-size:24px; margin-bottom:16px;}
.SitesPage .PageContent h3 { font-size:16px; margin-bottom:4px;}
.SitesPage .PageContent p { font: 14px/1.5em 'Lucida Grande',Tahoma,Verdana,sans-serif; margin-bottom:1em;}

.SitesPage .no-sites { padding:10px 0 20px; border-bottom:1px solid #ddd; }

.status-circle { background:url(../images/public/backgrounds/self-serve-icons.png?v=201501161526) no-repeat scroll 0 0 transparent; display:inline-block; float:left; margin:3px 15px 10px 0; height:60px; width:60px;}
.status-circle-success { background-position:0px 0px; }
.status-circle-fail { background-position:0px -97px; margin-bottom:0px; }

.SiteSignup { margin-top:10px; }
.SiteSignup #textarea-code {margin: 10px 0; height:140px; padding:10px 5px; width:980px; font:12px courier,"courier new",monico,fixed-width; }
.SiteSignup .form2 label { display:block;font-size:14px; font-weight:bold; margin:15px 0 0;}
.SiteSignup ul {display:block;}
.SiteSignup li {margin:0 0 20px; }
.SiteSignup ul.self-serve-list {display:block; margin-left:0px; border-top:5px solid #E8E8E8;}
.SiteSignup ul.self-serve-list h4 {display:inline;}
.SiteSignup ul.self-serve-list li {border-bottom:1px solid #F3F3F3; display:block; margin:0; padding:10px 0 10px;}
span.circle { display:inline-block; margin-right:5px; padding:0px 6px; border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px; }
.tracking-yes span.circle{background:#1a0;}
.tracking-no span.circle{background:#e32;}
.tracking-soon span.circle{background:#fb0;}

#self-serve-form .initial-field-state {font-size:14px;}
.SitesList { float:left; width:100%; padding:10px 0; border-top:5px solid #E3E3E3; font-size:13px; }
.SitesList table { width:100%; }
.SitesList table tr { background:url(../images/dashboard2/table-bg.gif?v=201501161526) repeat-x scroll 0 0 transparent; height:65px; }
.SitesList .name {padding-left:20px;}
.SitesList td {vertical-align:middle;}
.SitesList ul {display:inline; float:right; margin-right:20px; }
.SitesList h4 {display:inline; font-size:20px; margin-bottom:4px; font-weight:bold; }
.SitesList ul li {display:inline; margin:0; padding:10px 0 10px;}
.add-a-site { display:block; margin-top:10px; float:left; font-size:14px; }


/*  Viral Wars  */
#ViralWars .section {margin-bottom:20px;}
.viralwars-rank {width:90px !important;}
ul.viralwars-list {margin-top:10px;}
ul.viralwars-list li {margin-bottom:10px; line-height:18px;}
.viralwars-list h1 {font-weight:bold; font-size:18px; margin-bottom:6px;}
.viralwars-list h3 {font-weight:bold; margin-bottom:3px;}

.viralwars-sprites { background: url(../images/public/viral-wars/viralwars-sprites.png?v=201501161526) no-repeat scroll 0px 0px #FFFFFF; display:inline-block; float:left; margin:10px 10px 10px -5px; text-indent:-999em;}
.viralwars-leaderboard-wide { background-position: 0px 0px; width:500px; height:36px; margin-top:0px;}
.viralwars-head { border-top:3px solid #BF4444; margin:0 0 10px;}
.viralwars-enter { background-position: 0px -69px; width:336px; height:20px;}
.viralwars-rules { background-position: 0px -127px; width:320px; height:20px;}
.viralwars-prizes { background-position: 0px -185px; width:100%; height:20px;}
.viralwars-prizes-pics { background-position: 0px -232px; width:100%; height:130px;}
.viralwars-tips { background-position: 0px -242px; width:100%; height:20px;}
.viralwars-sidebar { background: url(../images/public/viral-wars/viralwars-sidebar-sprites.png?v=201501161526) no-repeat scroll 0px 0px #FFFFFF; display:inline-block; float:left; margin:0; text-indent:-999em;}
.viralwars-siderbar-hdr { background-position: 0px 0px; width:100%; height:75px; margin:0;}
.viralwars-sidebar-rank { top:10px !important; width:90px !important; }
.ipad {background-position: 0px -499px; height:47px; width:38px; margin:10px 0; float:right;  }
.appletv {background-position: -42px -499px; height:47px; width:38px; margin:10px 0; float:right; }
.ipodnano {background-position: -87px -499px; height:47px; width:39px; margin:10px 0; float:right; }

.switch-to-user-viralwars a { padding:6px 0 0 5px; }

.faux-dropdown { float:left; width:250px; position:relative; }
.faux-dropdown .closed-state { float:left; width:242px; background:#fff; color:#222; padding:6px 8px; border:1px solid #bbb; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; 
	background: #eeeeee; /* old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* ie */
	}
.faux-dropdown .closed-state:hover {
	background: #0077ee; /* old browsers */
	background: -moz-linear-gradient(top, #509BFD 0%, #0077ee 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#509BFD), color-stop(100%,#0077ee)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509BFD', endColorstr='#0077ee',GradientType=0 ); /* ie */
}
.faux-dropdown .arrow { position:absolute; right:5px; top:10px; width:25px; height:20px; background: url(../images/ui/reveal-down.png?v=201501161526) no-repeat; }
.faux-dropdown .closed-state:hover .arrow { background-position:0 -48px; }
.faux-dropdown .spinner { position:absolute; right:-45px; top:-13px; }
.faux-dropdown a{display:block; padding:6px 10px; overflow:hidden; overflow:hidden;white-space:nowrap;text-overflow:ellipsis; }
.faux-dropdown a:hover{background:#07e; color:#fff;	}
.faux-dropdown img{margin-right:7px;width:25px;height:25px;vertical-align:middle;}

.enter-success { margin:10px 0; }
.enter-success strong { display:block; background:#1B9900; color:#fff; padding:6px 8px; margin-bottom:5px; font:bold 16px arial,helvetica,sans-serif; }

.ViralWarsPage form.v .field { float:left; position:relative; }
.ViralWarsPage form.v .field .SwitchUser { left:0; top:0; } 
.ViralWarsPage form.v .medium { padding:4px 8px; }
.ViralWarsPage form.v .medium { padding:4px 8px; }
.ViralWarsPage form.v .error-message { float:left; width:300px; padding:3px 6px; background:#e32; color:#fff; margin:5px 0; }
#usernav-displayname-viralwars { float:left; font-size:11px; overflow:hidden; padding:6px 0 0 5px; white-space:nowrap; }
/* #usernav-viralwars-dropdown { background-image:url(../images/global/buzzfeed.png?v=201501161526); background-position:-810px -43px; height:20px; width:20px;} */
li.viralwars-sidebar-li { padding:2px 0px 2px !important; background:none !important;}
ul.leaderboard .score-viralwars small { display:block;}


/* BoostLaunchPage */
.BoostPromoArea { min-height:650px; }
.BoostPromoArea h1 { width:990px; height:80px; margin:20px 0; background:url(../images/public/promos/boost-page-header.png?v=201501161526) no-repeat; text-indent:-9999px; overflow:hidden; }
.BoostPromoArea h2 { margin-bottom:5px; font:bold 20px "helvetica neue",arial,helvetica,sans-serif; }
.BoostPromoArea h3 { margin-bottom:3px; font:bold 15px "helvetica neue",arial,helvetica,sans-serif; }
.BoostPromoArea .section { margin:0 0 15px; }
.BoostPromoArea .LaunchOnBuzzFeed { position:relative; width:548px; padding-right:440px; margin-bottom:20px; }
.BoostPromoArea .LaunchOnBuzzFeed h2 { font-size:32px; }
.BoostPromoArea .LaunchOnBuzzFeed h2 + p { font:normal 16px/1.3em "helvetica neue",arial,helvetica,sans-serif; }
.BoostPromoArea .LaunchOnBuzzFeed .section p { margin-bottom:5px; }
.BoostPromoArea .LaunchOnBuzzFeed .pad { padding:20px 20px 35px; }
.BoostPromoArea .buttons a { float:left; margin-right:10px; }
.BoostPromoArea .half-box { width:483px; } 
.BoostPromoArea .half-box+.half-box { margin-left:20px;  }
.BoostPromoArea .third-box { width:320px; } 
.BoostPromoArea .third-box+.third-box { margin-left:12px;  }

.BoostPromoArea .pad { padding:14px 20px 20px; }
.BoostPromoArea .grey-box { background:#f2f2f2; border: 1px solid #e6e6e6 }
.BoostPromoArea .blue-box { border:1px solid #CADBDD;  background-color:#E2F3FF; color:#000;}
.BoostPromoArea .details div { float:left; width:230px; }
.BoostPromoArea .details div+div { margin-left:30px; }
.BoostPromoArea .details div p { font-size:12px; }
.BoostPromoArea .dashboard-screenshot { width:425px; position:absolute; right:30px; bottom:-15px; }

.BoostPromoArea .QuickPost { position:relative; border-top:2px solid #e32; padding-top:25px; }
.BoostPromoArea .PostingHelp { width:450px; position:absolute; top:30px; right:0; }

.new-post-form form.v { background:#eee; width:420px; padding:15px; }
.new-post-form form.v div.field { margin-bottom:10px; }
.new-post-form form.v div.field.submit { margin-bottom:0; }
.new-post-form form.v div.field label { margin-bottom:3px; }
.new-post-form form.v .tool-right { position: absolute; right: 12px; top:0; }


/* Typographic defaults */
.typo_a {font-family: Arial,Helvetica,Verdana,sans-serif;}
.typo_l {font-family: "Lucida Grande",Tahoma,Verdana,sans-serif;}


/* dfp story add style for long display names */
/*.bf-widget .bf-item .big-meta .user-info { width:auto } */
.bf-widget .bf-item .big-meta .user-info .username {overflow:hidden; font-size:15px; line-height: 18px; font-weight:bold;}

.badge-small-activator { float:right; display:block; width:100px; height:24px; margin:20px 10px 0 10px; background:url(../images/public/slideshow/small-activator.png?v=201501161526); text-indent:-9999px; overflow:hidden;}
.badge-small-activator:hover { background-position:0 -24px; }.badge-small-activator { float:right; display:block; width:100px; height:24px; margin:20px 10px 0 10px; background:url(../images/public/slideshow/small-activator.png); text-indent:-9999px; overflow:hidden;}
.badge-small-activator:hover { background-position:0 -24px; }.badge-small-activator:hover { background-position:0 -24px; }

/* dfp story ad with video style */
.video-unit .video-preview {
  cursor: pointer;
  position: relative;
  line-height: 0;
}
.video-unit .video-preview .press-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px;
  width: 48px;
  height: 48px;
  background:url(/static/images/global/vid_play_button.png?v=201501161526) 0 -47px no-repeat;
}

.ie7 .video-content {
  margin-bottom: 10px;
}

.video-unit .video-preview:hover .press-play {
  background-position: 0px 0px;
}
.video-unit { margin: 0px 0px 10px 0px; background-color: #000; }
.video-unit .video-reactions { background-color: #000; padding: 0 5px; height: 25px; padding-top: 12px;}
.video-unit .video-reactions.dfp-bf-margin { padding-top: 35px; }
.ad-template-story .video-unit { width: 316px; }
.video-unit .video-reactions a.bf-reaction { 
  float: left;
  margin-right: 3px;
  margin-top:-6px;
  padding: 5px 10px 4px;
  font: bold 14px/1 Arial,Helvetica,sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-radius: 2px;
  background: #FE0;
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(#FFD400));
  background-image: -moz-linear-gradient(top, #FF7, #FD0);
  border: 1px solid #FA0;
  border-left: 1px solid #FFA;
  border-top: 1px solid #FFA;
}
.video-unit .video-reactions a.bf-reaction:hover {
  background: #0077ee !important;
  color: #FFFFFF;
  border: 1px solid #049;
}

.video-unit .video-reactions a.bf-reaction.deactivated { 
  background: #CCC !important;
  color: #777;
  border: 1px solid #777;
  cursor: default;  
}
.video-unit .video-reactions a.bf-reaction.deactivated:hover { 
  background: #CCC !important;
  color: #777;
  border: 1px solid #777;
}

.video-unit .fb-content{ line-height: 0px; }
.video-unit .fb-content .icon {
    width: 23px;
    height: 22px;
    display: inline-block;
    background: url(/static/images/public/social/facebook-share-button-small.png?v=201501161526) 3px 2px no-repeat;
}
.video-unit .fb-content .word {
    border-left: 1px solid #6273A6;
    vertical-align: 5px;
    padding-left: 6px;
    font-size: 14px;
}
.video-unit .fb-button { 
    border-radius: 2px;
    font: bold 12px/1 "Lucida Grande",verdana,tahoma,sans-serif;
    color: white;
    background: -webkit-gradient(linear,left top,left bottom,from(#6D84B4),to(#415495));
    background-image: -moz-linear-gradient(top,#6D84B4,#596C95);
    border: 1px solid #248;
    border-left: 1px solid #78E;
    border-top: 1px solid #89E;
    text-shadow: none;
    padding: 0px 6px 0px 4px;
    display: block;
    float: right;
    margin-top: -6px;
}
.ie9 .video-unit .fb-button, .ie8 .video-unit .fb-button {
    background: #415495;
}
.video-unit .fb-content .fb-button:hover {
    color: white;
    background: #415495;
    border: 1px solid #234;
}
.video-unit .share-content {text-align: right; position: relative; float: right;}
.video-unit .share-content .dfp-share-link {position: relative;}
.video-unit .share-content a.dfp-share-link {
    font: bold 14px/1 Arial,Helvetica,sans-serif; 
    position:relative; 
    text-shadow: 0px 1px 1px rgba(0,0,0,.5); 
    border: 1px solid #BBB; 
    color: black; 
    text-shadow: 0 1px 1px white; 
    padding: 5px 5px 3px 32px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
	background-size: auto auto;
	border-radius: 3px;
}
.video-unit .share-content .dfp-share-link:hover {
  color: white;
  background: #666 !important;
  border: 1px solid #234 !important;
  text-shadow: none;
}
.video-unit .share-content #shareIcon {position: absolute; left: 5px; top: 2px; width:24px; height:20px; background: url(/static/images/embed/embed_post_icons.png?v=1337868145) 0 -146px no-repeat; }
.video-unit .dfp-share-link:hover #shareIcon {background: url(/static/images/embed/embed_post_icons.png?v=1337868145) 0 -124px no-repeat;}
.video-unit .dfp-share-link:hover {background: #505050; color: #FFF; text-shadow: none;}

/* Contest */
.contest-banner { margin-bottom:20px; }

.contest-header h1 { margin:0 0 10px; font-size:40px; line-height:1.1em;}
.contest-header table { width:100%; float:left; margin-bottom:10px; }
.contest-header td { vertical-align:baseline; padding-bottom:15px; }
.contest-header td.label { padding-right:15px; font:18px Georgia,serif; xxtext-transform:uppercase; color:#e32; }

.contest-leaderboard table { width:100%; float:left; margin-bottom:30px; }
.contest-leaderboard td { padding:5px; border-top:1px solid #ddd; vertical-align:center; }
.contest-leaderboard .rank   { width:25px; padding-top:7px;}
.contest-leaderboard .name   { width:340px; }
.contest-leaderboard .name a { font:15px Georgia,serif; }
.contest-leaderboard .user   { width:100px; color:#777; font-size:11px; }
.contest-leaderboard .date   { text-align:right; width:100px; color:#777; font-size:11px; }
.contest-leaderboard th { color:#777; font-size:11px; padding:0 5px 2px 5px;}
.contest-leaderboard .metric { width:75px; text-align:right; } 

.contest-success .message { font-size:16px; }
.list-of-buzz .post2 { padding-top:10px; margin-top:5px; border-top:1px solid #ddd; }

.contest-info { color:#999; margin-top:7px;}

.contest-winners .post2 .winner-badge { float:left;width:30px; }
.contest-winners .post2 .info { width:380px; }
.winner-badge span { position:absolute; left:-12px; top:-7px; display:block; width:50px; height:50px; background:url(../images/public/contests/winner-badges.png?v=201501161526) no-repeat; text-indent:-9999px; overflow:hidden;}
.winner-badge .no2 { background-position:0 -50px; }
.winner-badge .no3 { background-position:0 -100px; }
.winning-metric { float:left; width:100px; text-align:right;}
.winning-metric .num { font:bold 22px Arial,Helvetica,sans-serif; color:#e32; padding-right:5px;}
.winning-metric .feed-loves { font-size:20px!important; background-position:0 3px; }

.ContestPage .signin-or-signup form.v { padding:15px 17px; }


.facebook-message { margin-bottom:15px!important; font:12px Arial,Helvetica,sans-serif; line-height:1.2; }
.facebook-message img { float:left; margin-right:5px; }


/* Newsletter Signup */
.newsletter {margin:20px 0; padding:10px;background-color:#FCFCFC!important;}
.newsletter h2 {text-align:center;}
.newsletter .mergeRow {margin-bottom:10px;}
.newsletter .mergeRow input {width:90%; padding:5px; background: -moz-linear-gradient(center top , #EDEDED 0%, #FFFFFF 20%) repeat scroll 0 0 transparent; border: 1px solid #CCCCCC; margin-top:2px; color:#666666;}
.newsletter span {font-size:10px; margin-left:3px;}
.newsletter #err-msg{background:red; color:#fff; text-align:center; border-radius:5px; margin:5px 0px; padding:5px;}

/* External Partner Links */
.partner-link-sprite {background-image:url("/static/images/public/icons/offsite-arrows.png"); display: inline-block; background-repeat: no-repeat;}
.partner-link-sprite.partner-url {background-position:-4px -23px; width: 10px; height: 10px; vertical-align:-10%;}
.thumb-unit .partner-link-sprite.partner-thumb {
    background-position: 0px 0px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 1;
}
