/* NEW Column2 (sidebar) styles */
.Column2 .section { float:left; width:336px; margin-bottom:35px; padding:0; background:#fff; }
.Column2 .small-posts .post { width: 100%; }
.Column2 .header .headline-1 { float: left; padding: 5px 0; font: bold 18px/1.2 "Helvetica Neue",helvetica,arial,sans-serif; color: #E32 !important; }
.Column2 .header .headline-1, .Column2 .header .headline-1 a { color: #EE3322; }
.Column2 .header h2.subhead { float:left; padding:15px 0 0 10px; color:#e32; font:14px/1.2 arial,helvetica,sans-serif!important; }
.Column2 .header span.subhead { font-size: 12px; font-weight: normal; margin-left: 5px; }
.Column2 .big-header { margin:0 0 15px; }
.Column2 .big-header h1 { font-size:24px; }
.Column2 .sidebar_featured_unit .item { width:336px; height:111px; margin-left:0; margin-top:15px; box-shadow:none }
.Column2 .sidebar_featured_unit .item img , .Column2 .bf-widget.post .sidebar-post a img{ width:336px; height:111px; }
.Column2 .section, .Column2 .featured_section { padding: 0px; width: 336px;}
.Column2 .section, .Column2 .featured_section.dfp_bigstory { padding: 0px; width: 336px; margin-bottom: 0; }
.Column2 .featured_section .partner-area { padding: 0 0 10px 0; position: static; float: left; width: 100%; }
.Column2 .featured_section .partner-area .bf-item { padding: 10px; }
.Column2 .post h2 a {color:#07e;}
.Column2 .SidebarMasthead h2 a, .Politics .Column2 h2 a {color:#000;}
.Column2 .SidebarMasthead { margin-bottom: 20px; }
.Column2 .SidebarMasthead .vertical-info-banner { margin-bottom: 10px; }
#politics-masthead { background: white; float: left; padding: 5px 0; margin-bottom: 15px; width:336px; margin-left:0px; }
.more-link {margin:10px 0 15px 0; display:block; font-family: 'ProximaNovaSemiBold', Arial, Helvetica, sans-serif; font-size: 14px;}

/* infinite sidebar AB test */
.Column2 .infinitesidebar .post h2 a, .Column2 .infiniteviralsidebar .post h2 a {color: #222; text-decoration: none;}

/* POWER RANKINGS */
.Column2 .section.power_rankings { width: 316px; padding: 10px !important; margin: 0 0 20px 0; border-top: 3px solid #000; }
.power_rankings.Animals {border-top: 0px; margin: 0px; overflow: hidden;}
.power_rankings { width: 295px; padding: 10px!important; border-top: 3px solid #000; }
.power_rankings h2 a { display:block; width:295px; overflow:hidden; text-indent:-9999px; }
.power_rankings h3 { width:285px; padding:10px 20px 10px 10px;}
.power_rankings h3 a { color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.1);}
.power_rankings h3 span { display:block;margin-bottom:5px;font-size:13px; letter-spacing:1px; text-transform:uppercase;}
.power_rankings li{margin-bottom:10px;}
.power_rankings li, .power_rankings li a {position:relative; color:#fff; float: left;}
.power_rankings li img { display: block; width:315px; height:auto; }
.power_rankings li .rank-desc{position:absolute; bottom:3px; left:0; right:0; background:#000; background:rgba(0,0,0,0.6); padding:8px; font:bold 18px arial,helvetica,sans-serif; color:#fff; }
.ie8 .power_rankings li .rank-desc { width:280px;}
.power_rankings li .rank-desc .rank-count{}
.power_rankings li .rank-desc .rank-text{}
.power_rankings ul.rankings-share li {display:inline; margin-right:10px;}
.power_rankings ul.rankings-share li.label {color: #000; font-family: "Helvetica Neue"; font-weight: bolder; font-size:16px; font-style: italic; text-transform: uppercase; text-shadow:1px 2px 2px #FAFAFA; padding-top:2px;}
ul.rankings-share li a.tw-share{ width: 55px !important; height: 20px; background:url(/static/images/public/icons/placeholder-share-twitter.png) no-repeat; position: absolute; }
.power_rankings ul.rankings-share .shareBtn { margin: 0 20px; }

/* food and animals */
.Food .power_rankings, .Celebrity .power_rankings, .Animals .power_rankings { width: 338px; padding: 0px!important; border-top: 0px; margin: 0px; overflow: hidden; }
.Food .power_rankings li img, .Celebrity .power_rankings li img, .Animals .power_rankings li img {position: relative;}
.Food .power_rankings li a, .Celebrity .power_rankings li a, .Animals .power_rankings li a {position:relative; color:#fff; float: left; width: 100px; height: 100px; margin: 6px;}
.Food .power_rankings li a span.rank_img, .Celebrity .power_rankings li a span.rank_img, .Animals .power_rankings li a span.rank_img {position: absolute; width: 100px; height: 100px; overflow: hidden; top: 0px; left: 0px;}
.Food .power_rankings li a div.cute_num, .Celebrity .power_rankings li a div.cute_num, .Animals .power_rankings li a div.cute_num { background-color: red; font-weight: bold; position: absolute; top: 0px; font-size: 18px; padding: 0 7px;}

/* sports */
.Sports .power_rankings { background: #eee6e1; }
.Sports .power_rankings h2 a { margin:0 0 10px; height:138px; background:url(../../images/public/verticals/sports-power-rankings-header.png?v=201501161526) no-repeat; }
.Sports .power_rankings h3 { margin:10px 0 10px 0; font:bold 34px/1.1 arial,helvetica,sans-serif;background:#f60;color:#fff; letter-spacing:-1px;font-style:italic;}
.Sports .power_rankings ul.rankings-share li.label { color: #F60; }

/* celebrity */
.Celebrity .power_rankings { background: #FFF; border-top: 0px; }
.Celebrity .power_rankings a, .power_rankings.celebrity li .rank-desc { font: 18px/1.1 'ProximaNovaSemiBold',Arial,Helvetica,sans-serif; color: #222222; }
.Celebrity .power_rankings a { text-decoration: none;  }
.Celebrity .power_rankings h3 { margin: 0 0 10px 20px; width: 290px; }
.Celebrity .power_rankings h2 a { height: 53px; position: relative; top: 15px; background:url(../../images/public/verticals/celeb-power-rankings-header.png?v=201501161526) no-repeat; }
.Celebrity .power_rankings li .rank-desc { background:#FFF; background: rgba(255,255,255,0.6); bottom: 0px; color: #222222;}

/* masthead */
.SidebarMasthead .send-us-tips { clear: both; }
.SidebarMasthead .send-us-tips span { font: bold 11px Arial, helvetica, sans-serif; color: #444; font-style: normal;text-transform: uppercase; }
.SidebarMasthead .send-us-tips a { font-size: 14px; }

/* dfp story ad with video style */
.video-unit .video-preview {
  cursor: pointer;
  position: relative;
}
.video-unit .video-preview .press-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24px;
  width: 48px;
  height: 48px;
  background:url(/static/images/global/vid_play_button.png?v=201501161526) 0 -47px no-repeat;
}

.video-unit .vid-preview-img { width: 100%;}

.ie7 .video-content {margin-bottom: 10px;}

.featured_section {position: relative;}

.featured_section .partner-area {position: static; padding: 10px 0px 5px; float: left; width: 100%;}

.featured_section .video-content {margin: 0px; float: none; overflow: hidden;}

.video-unit .video-preview:hover .press-play {background-position: 0px 0px;}
.video-unit { margin: 0px 0px 10px 0px; background-color: #000; }
.video-unit .video-reactions { background-color: #000; padding: 12px 5px 20px 5px;}
.video-unit .video-reactions.dfp-bf-margin { padding-top: 36px; }
.video-unit .video-reactions a.bf-reaction {
  float: left;
  margin-right: 3px;
  margin-top:-6px;
  padding: 5px 10px 4px;
  font: bold 14px/1 Arial,Helvetica,sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: black;
  border-radius: 2px;
  background: #FE0;
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(#FFD400));
  background-image: -moz-linear-gradient(top, #FF7, #FD0);
  border: 1px solid #FA0;
  border-left: 1px solid #FFA;
  border-top: 1px solid #FFA;
}
.video-unit .video-reactions a.bf-reaction:hover {
  background: #0077ee !important;
  color: #FFFFFF;
  border: 1px solid #049;
}

.video-unit .video-reactions a.bf-reaction.deactivated {
  background: #CCC !important;
  color: #777;
  border: 1px solid #777;
  cursor: default;
}
.video-unit .video-reactions a.bf-reaction.deactivated:hover {
  background: #CCC !important;
  color: #777;
  border: 1px solid #777;
}

.video-unit .share-content {text-align: right; position: relative; float: right;}
.video-unit .share-content .button {padding: 5px 10px 5px 40px; border-radius: 4px; position: relative; font: bold 12px/1 "Lucida Grande",verdana,tahoma,sans-serif; color: white; background-color: #475B99; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6D84B4', endColorstr='#415495'); background: -webkit-gradient(linear,left top,left bottom,from(#6D84B4),to(#415495)); background-image: -moz-linear-gradient(top,#6D84B4,#596C95); border: 1px solid #3B5998; line-height: 25px;}
.video-unit .share-content .dfp-share-link {position: relative;}
.video-unit .fb-content .button:hover {
  color: white;
  background: #415495 !important;
  border: 1px solid #234 !important;
}
.video-unit .fb-button {
    border-radius: 2px;
    font: bold 12px/1 "Lucida Grande",verdana,tahoma,sans-serif;
    color: white;
    background: -webkit-gradient(linear,left top,left bottom,from(#6D84B4),to(#415495));
    background-image: -moz-linear-gradient(top,#6D84B4,#596C95);
    border: 1px solid #248;
    border-left: 1px solid #78E;
    border-top: 1px solid #89E;
    text-shadow: none;
    padding: 0px 6px 0px 4px;
    display: block;
    float: right;
    margin-top: -6px;
}
.video-unit .fb-content .word {
    border-left: 1px solid #6273A6;
    vertical-align: 5px;
    padding-left: 6px;
    font-size: 14px;
}
.video-unit .share-content a {
    font: bold 14px/1 Arial,Helvetica,sans-serif;
    position:relative;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    border: 1px solid #BBB;
    color: black;
    text-shadow: 0 1px 1px white;
    padding: 5px 5px 3px 32px;
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
		background-size: auto auto;
		border-radius: 3px;
	}
.video-unit .share-content #shareIcon {position: absolute; left: 5px; top: 2px; width:24px; height:20px; background: url(/static/images/embed/embed_post_icons.png?v=1337868145) 0 -146px no-repeat; }
.video-unit .dfp-share-link:hover #shareIcon {background: url(/static/images/embed/embed_post_icons.png?v=1337868145) 0 -124px no-repeat;}
.video-unit .dfp-share-link:hover {background: #505050; color: #FFF; text-shadow: none;}

.vertical-sidebar-info .vertical-email .email-promo-box { border: none;}
.vertical-sidebar-info .vertical-email form input.email_field { font-size:12px !important; width: 220px !important; clear: both; border: 1px solid #ccc; margin-right:5px; padding:3px; margin-bottom: 10px;}
.vertical-sidebar-info .vertical-email form { position: relative; }
.vertical-sidebar-info .vertical-email{ margin:25px 0px 25px 0px; float:left;}
.sailthru_email_success{ font-size: 13px; margin-top:10px;}
.sailthru_email_failure{ margin-top:10px; line-height: 16px; }
.sailthru_email_failure:before, .sailthru_email_success:before {content: ''; background: url('/static/images/global/unified_sprite.png?v=201501161526') no-repeat -628px -45px; width: 16px; height: 16px; margin: 0 4px 0 0; display: inline-block; }
.sailthru_email_failure:before{ background-position: -644px -45px; }
.sailthru_email_spinner { position: absolute; top: 40px; left: 85px; width:16px; height:16px; background-image: url('/static/images/public/spinners/small_on_f6f6f6.gif?v=201501161526'); }

/* MSU PADDING */
.Music .Column2 #BF_WIDGET_99 {margin-top:15px;}


/* OVERRIDES for Fashion vertical */
.Fashion .vertical-nav {background-color: #4d4d4d;border: 0;padding: 0 5px;width: 1010px;}
.Fashion .vertical-nav li a {font-weight:normal;color: #fff;font-family: 'ProximaNovaRegular',Helvetica,Arial,sans-serif;}
.Fashion .vertical-nav .label {color: #fff;font-weight:normal;text-transform:uppercase;font-family: 'ProximaNovaRegular',Helvetica,Arial,sans-serif;}
.Fashion .sidebar-front .vertical-info-banner{background-color: #fff;color: #000;font-family: 'ProximaNovaThin',Helvetica,Arial,sans-serif!important;	border-bottom: solid 1px #000;font-size: 25px;line-height: 28px;padding: 0;height: 30px;margin-bottom:10px;}
.Fashion .sidebar-front .vertical-info-banner .text {overflow-y:hidden;}
.Fashion .sidebar-front .vertical-info-banner .notch {display: none;}
.Fashion .sidebar-front .SidebarMasthead a {color: #888;}
.Fashion .sidebar-front .SidebarMasthead .small-posts .editor-meta em {font-weight:normal;color: #888;font-size:10px;}
.Fashion .sidebar-front .editor-meta h2 a {font-size: 17px; font-weight:normal; color: #000;}
.Fashion .sidebar-front .editor-meta h2 span {font-size: 12px; text-transform: uppercase;}
.Fashion .sidebar-front .sidebar_featured_unit .small-posts h3 a, .Fashion .sidebar-front .sidebar-post a, .Fashion .sidebar-front .sidebar-post a h2{color: #000!important;font: normal 16px/20px "ProximaNovaRegular",Helvetica,Arial,sans-serif !important;}
.Business .Throwback {margin-bottom: 20px;}
#throwback-image {width: 336px; float: left;}
.Throwback .ThrowPrev, .Throwback .ThrowNext {position: absolute; cursor: pointer; width: 100px; height: 100%; }
.Throwback .ThrowPrev {left: 0;}
.Throwback .ThrowNext {right: 0;}
.Throwback .ThrowArrow {position: absolute; top: 50%; margin-top: -25px; background: url(/static/images/public/verticals/throwback-sprite.png?v=201501161526); width: 28px; height: 50px;}
.Throwback .ThrowPrev .ThrowArrow {left: 10px; background-position: 0px 0px}
.Throwback .ThrowNext .ThrowArrow {right: 10px; background-position: -28px 0px}
.Throwback ul li {float: left; display: inline; width: 26px; height: 26px; margin-left: 5px;}
.Throwback ul li a {background: url(/static/images/public/verticals/throwback-sprite.png?v=201501161526); width: 26px; height: 26px; float: left;}
.Throwback ul li.facebook a {background-position: 0px -50px;}
.Throwback ul li.facebook a:hover {background-position: 0px -76px;}
.Throwback ul li.twitter a {background-position: 25px -50px;}
.Throwback ul li.twitter a:hover {background-position: 25px -76px;}
.Throwback ul li.pinterest a {background-position: 56px -50px;}
.Throwback ul li.pinterest a:hover {background-position: 56px -76px;}
.Throwback .throwback-image-container {position: relative; float: left;}
.Throwback .throwback-share {float: right;}
.Throwback .blurb {margin-top: 5px; float: left;}
.Throwback .blurb span {float: left; font: normal 14px/18px "ProximaNovaRegular",Helvetica,Arial,sans-serif}
.Throwback .iefixer { display: block; width: 100%; height: 100%; background:url(data:image/gif;base64,R0lGODlhAQABAPAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat -1px -1px; }
.Fashion .Throwback .blurb span {width: 243px;}
.Business .Throwback .blurb span {width: 274px;}
.Business .Throwback ul li.pinterest {display: none;}

/* pinterest module */
.hot-on-pinterest.pinterest-vertical {float:left;width:351px;margin-bottom: 20px;}
.hot-on-pinterest.pinterest-vertical .header-holder {margin-bottom:10px;padding-top: 10px;}
.hot-on-pinterest.pinterest-vertical .header-holder h5 { float:left; margin-top: -6px;}
.hot-on-pinterest.pinterest-vertical .header-holder .pinterest-follow {float:left;font-weight:bold;}
.hot-on-pinterest.pinterest-vertical .header-holder .bf_button.bf_button-with-icon {padding: 5px 8px;line-height: 18px;margin-left: 5px;}
.hot-on-pinterest.pinterest-vertical .header-holder .bf_button .pinterest-icon {background: url("/static/images/global/unified_sprite.png?v=201501161526") no-repeat scroll 1px -543px transparent;height: 18px;width: 19px;display: inline-block;margin-right: 5px;vertical-align: top;}
.hot-on-pinterest.pinterest-vertical .image {background: url("/static/images/global/unified_sprite.png?v=201501161526") no-repeat scroll -175px -547px transparent;height: 25px;width: 105px;display: inline-block;vertical-align:bottom}
.hot-on-pinterest.pinterest-vertical .text {display: block; float: left; height: 30px; font-size: 20px; font-weight: bold; margin-top: 5px; margin-right: 10px;}
.hot-on-pinterest.pinterest-vertical .buzz_holder_fixer {float: left; margin-top: 15px}
.hot-on-pinterest.pinterest-vertical .buzz_holder {display: inline-block;vertical-align: top;width: 160px;height: 185px;border-radius: 3px;margin: 0 15px 15px 0;position:relative;}
.hot-on-pinterest.pinterest-vertical .buzz_holder .pin-button {position: absolute;top: 10px;left: 10px;}
.hot-on-pinterest.pinterest-vertical .buzz_holder:nth-child(2n+0) {margin-right:0;}
.hot-on-pinterest.pinterest-vertical .buzz_holder.buzz_holder_shadow {box-shadow: 0 0 3px #aaa;}
.hot-on-pinterest.pinterest-vertical .buzz_image {background-color: white;}
.hot-on-pinterest.pinterest-vertical .buzz_image img {width:160px;border-radius: 2px 2px 0 0;}
.hot-on-pinterest.pinterest-vertical .buzz_holder .caption {padding: 10px 10px 0; color: #333; }
.hot-on-pinterest.pinterest-vertical .buzz_holder .repins {padding: 5px 10px;color:#999;font-weight:bold;font-size:11px;}
.hot-on-pinterest.pinterest-vertical .buzz_holder.hide-buzz_holder {visibility:hidden;height:1px;}
.hot-on-pinterest.pinterest-vertical .blockify-button {text-align: center;width: 308px;display: inline-block;}
.new-pinterest {
  display: none;
}

/* go watch it */
.Column2 .gowatchit_video_container { margin-top: 20px; margin-bottom: 20px; }
.Sidebar.Column2.no_banner .gowatchit_video_container { margin-top: -20px; }

